<!-- <a routerLink="/team-send-email" class="skip-to-email">
  <div class="desk-picked">
    Carry on...
  </div>
</a> -->

<div id="top-text">
  <!-- <div class="please">Choose a desk:</div> -->
  <!-- <div class="help">Help</div> -->
</div>
<div id="team-choice">
  <!-- <div class="one">One desk</div>
  <div class="team">Team</div> -->
</div>

<div (click)="switchFloor()" id="desks"><div class="desk">Switch Floor</div></div>
<div id="desks">Floor: {{floor}}</div>

<div class="image" *ngIf="floor == 1; else Floor4">
  <image-map [src]="image01" [coordinates]="coordinate01" (onClick)="getClick($event)" canEdit="true"></image-map>
</div>
<ng-template #Floor4>
  <div *ngIf="floor == 4; else Floor5">
    <div class="image"><image-map [src]="image04" [coordinates]="coordinate04" (onClick)="getClick($event)" canEdit="true"></image-map></div>
  </div>
</ng-template>
<ng-template #Floor5>
    <div class="image"><image-map [src]="image05" [coordinates]="coordinate05" (onClick)="getClick($event)" canEdit="true"></image-map></div>
</ng-template>

<div id="desks">
  <div *ngFor="let desk of desks">
    <div (click)="selectDesk(desk)" class="desk" [ngClass]="{'selected': selectedDeskId===desk.id}" >
      <div *ngIf="desk.booked === false; else strikethrough">
          {{desk.name}}
          <span *ngIf="desk.id === selectedDeskId">
              &#10004;
          </span>
      </div>
      <ng-template #strikethrough>
          <s>{{desk.name}}</s>   
      </ng-template>
    </div>
  </div>
</div>