<!-- <a routerLink="/team-send-email" class="skip-to-email">
  <div class="desk-picked">
    Carry on...
  </div>
</a> -->

<div id="top-text">
  <div class="please">Book a desk below:</div>
  <div class="help">Help</div>
</div>
<div id="team-choice">
  <!-- <div class="one">One desk</div>
  <div class="team">Team</div> -->
</div>

<div id="desks">
  <div *ngFor="let desk of desks">
    <div (click)="selectDesk(desk.id)" class="desk">
      <div *ngIf="desk.booked === false; else strikethrough">
          {{desk.name}}
      </div>
      <ng-template #strikethrough>
          <s>{{desk.name}}</s>   
      </ng-template>
    </div>
  </div>
</div>