<div class="container">
  <h1>Please sign in to your IoT Desk</h1>
  <h5>Enter desk user email(s) (inclusing yourself!)</h5>
  <form (ngSubmit)="onSubmit()" #emailForm="ngForm">
    <div class="form-group">
      <label for="name">Email 1</label>
      <input name="email1" [(ngModel)]="email1" type="email" class="form-control" id="name" required>
    </div>

    <div class="form-group">
      <label for="alterEgo">Email 2</label>
      <input name="email2" [(ngModel)]="email2" type="text" class="form-control" id="alterEgo">
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!emailForm.form.valid">Book!</button>
  </form>
</div>