<div id="image-container">
	<img [src]="src">
  <div class="coordinates-container">
    <div class="area" [ngStyle]="getCoordinateStyle(coordinate)" [title]="coordinate.name" *ngFor="let coordinate of coordinates" (click)="onAreaClick(coordinate)" (contextmenu)="onAreaEdit(coordinate)">
      <div *ngIf="coordinate.booked">
        <span class="tooltip">This desk has been booked by {{coordinate.user_email}}</span>
        <div class="booked"></div>
        <i class="fas fa-user"></i>
      </div>
    </div>
  </div>
</div>