/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~ngx-toastr/toastr.css';
@import '~font-awesome/css/font-awesome.css';

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

a {
  color: #333;
  text-decoration: none !important;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none !important;
}

[hidden] { display: none !important;}